.blog-post {
    margin-bottom: 4rem;
    max-width: 650px;
    margin: auto;
}

.author {
    font-weight: 500;
}

.post-btns {
    max-width: 175px;
    margin: auto;
}

.delete-btn,
.edit-btn {
    max-width: 75px;
    margin: auto;
    margin-bottom: 20px;
}

.retry-btn {
    max-width: 100px;
    margin: auto;
}
